@mixin block-title {
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000;
}

@mixin block-txt {
    max-width: 735px;
    margin: 20px auto 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #000;
    opacity: 0.6;
}